<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body class="kanit-text">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <main>
    <div class="container py-4">
      <div class="p-3 mb-4 bg-body-tertiary rounded-5">
        <div class="container-fluid py-5">
          <div class="row" style="text-align: center;">
            <div class="col-12">
              <h5>แบบประเมินความเสี่ยงโรคไตเรื้อรัง</h5>
              <div class="row" style="margin-bottom: 5px;">
                <div class="col">
                  <p>ชื่อ : {{name}}</p>
                </div>
                <div class="col">
                  <p>เบอร์โทร : {{phone}}</p>
                </div>
              </div>
              <div class="full-width-line"></div>
              <div class="row" style="padding: 10px">
                <div class="col-1">
                  <p>ข้อ</p>
                </div>
                <div class="col-8">
                  <p>คำถาม</p>
                </div>
                <div class="col-3">
                  <p>ความเสี่ยง</p>
                </div>
              </div>

              <div class="row rounded-3 mb-4" style="border: 1px solid #000;">
                <div class="col-12">
                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">1</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">อายุ</p>
                    </div>

                    <div class="col-2">
                      <img *ngIf="age" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!age" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">2</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">น้ำหนัก</p>
                    </div>

                    <div class="col-2">
                      <img *ngIf="weight" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!weight" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">3</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">ส่วนสูง</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="height" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!height" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>
                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">4</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">รอบเอว</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="Waist" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!Waist" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">5</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">ความดันตัวบน</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="bpd" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!bpd" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">5</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">ความดันตัวล่าง</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="bps" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!bps" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">6</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">ชีพจร</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="pulse" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!pulse" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">7</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">อัตรการกรองของเสียของไต</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="egfr" src="assets/check-mark.png" class="image" style="width: 35px;" alt="ภาพ" />
                      <img *ngIf="!egfr" src="assets/cancel.png" class="image" style="width: 30px; padding-top: 2px;"
                        alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">8</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">คุณสูบบุหรี่ใช่หรือไม่</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="smoking === 1" src="assets/check-mark.png" class="image" style="width: 35px;"
                        alt="ภาพ" />
                      <img *ngIf="smoking !== 1" src="assets/cancel.png" class="image"
                        style="width: 30px; padding-top: 2px;" alt="ภาพ" />
                    </div>
                  </div>

                  <div class="row" style="border-bottom: 1px solid #000; height: 35px;">
                    <div class="col-1">
                      <p style="padding-top: 5px;">9</p>
                    </div>
                    <div class="col-9"
                      style="text-align: left; border-right: 1px solid #000;border-left: 1px solid #000;">
                      <p style="padding-top: 5px;">คุณดื่มสุราใช่หรือไม่</p>
                    </div>
                    <div class="col-2">
                      <img *ngIf="drinking === 1" src="assets/check-mark.png" class="image" style="width: 35px;"
                        alt="ภาพ" />
                      <img *ngIf="drinking !== 1" src="assets/cancel.png" class="image"
                        style="width: 30px; padding-top: 2px;" alt="ภาพ" />
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h1>ผลประเมินความเสี่ยงต่อการเป็นโรคไต</h1>
                  <h3>คุณมีระดับความเสี่ยงโรคไตอยู่ในระดับ</h3>
                  <div class="col-5 mx-auto rounded-4">
                    <h3 style="border-radius: 10px; background: bisque; padding: 40px; width: auto;">
                      <ng-container [ngSwitch]="responseValue">
                        <span *ngSwitchCase="'N181'">ท่านมีความเสี่ยงเป็นโรคไต ระยะที่ 1</span>
                        <span *ngSwitchCase="'N182'">ท่านมีความเสี่ยงเป็นโรคไต ระยะที่ 2</span>
                        <span *ngSwitchCase="'N183'">ท่านมีความเสี่ยงเป็นโรคไต ระยะที่ 3</span>
                        <span *ngSwitchCase="'N184'">ท่านมีความเสี่ยงเป็นโรคไต ระยะที่ 4</span>
                        <span *ngSwitchCase="'N185'">ท่านมีความเสี่ยงเป็นโรคไต ระยะที่ 5</span>
                        <ng-container *ngSwitchDefault>{{ responseValue }}</ng-container>
                      </ng-container>
                    </h3>
                  </div>

                  <div class="row">
                    <div class="col-5 mx-auto" style="text-align: start; color: red;">
                      <ng-container [ngSwitch]="responseValue_2">
                        <p *ngSwitchCase="'N181'">ข้อแนะนำ: ท่านมีความเสี่ยง น้อย ต่อการเกิดโรคไตในระยะเวลา 10 ปี
                          (น้อยกว่า 5%) ข้อแนะนำเบื้องต้น เพื่อป้องกันการเกิดโรคไตในอนาคต ควรออกกำลังกายอย่างสม่ำเสมอ
                          ดื่มน้ำให้เพียงพอ ลดกินเค็ม</p>
                        <p *ngSwitchCase="'N182'">ข้อแนะนำ: ควรออกกำลังกายอย่างสม่ำเสมอ ดื่มน้ำให้เพียงพอ ลดกินเค็ม
                          รักษาระดับน้ำตาลในเลือดให้อยู่ในเกณฑ์ปกติ ควบคุมระดับความดันโลหิตให้ดี</p>
                        <p *ngSwitchCase="'N183'">ข้อแนะนำ: ควรออกกำลังกายอย่างสม่ำเสมอ ดื่มน้ำให้เพียงพอ ลดกินเค็ม
                          ควรหลีกเลี่ยงยากินแก้ปวดข้อ ปวดกล้ามเนื้อ (NSAIDs) รักษาระดับน้ำตาลในเลือดให้อยู่ในเกณฑ์ปกติ
                          ควบคุมระดับความดันโลหิตให้ดี ลดน้ำหนักให้อยู่ในเกณฑ์ปกติ
                          และท่านควรตรวจการทำงานของไตเพื่อให้มั่นใจว่าไตของท่านยังไม่มีปัญหาในปัจจุบัน</p>
                        <p *ngSwitchCase="'N184'">ข้อแนะนำ: ควรออกกำลังกายอย่างสม่ำเสมอ ดื่มน้ำให้เพียงพอ ลดกินเค็ม
                          ควรหลีกเลี่ยงยากินแก้ปวดข้อ ปวดกล้ามเนื้อ (NSAIDs) รักษาระดับน้ำตาลในเลือดให้อยู่ในเกณฑ์ปกติ
                          ควบคุมระดับความดันโลหิตให้ดี ลดน้ำหนักให้อยู่ในเกณฑ์ปกติ
                          และท่านควรตรวจการทำงานของไตเพื่อให้มั่นใจว่าไตของท่านยังไม่มีปัญหาในปัจจุบัน
                          ปฏิบัติตามแพทย์อย่างเคร่งครัด</p>
                        <p *ngSwitchCase="'N185'">ข้อแนะนำ: ท่านมีค่าการทำงานของไต 15 มล./นาที
                          ท่านจึงต้องติดต่อแพทย์เพื่อฟอกไต</p>
                        <ng-container *ngSwitchDefault>
                          <p>ข้อแนะนำ: ......</p>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <img src="assets/healthy.png" class="image" style="width: 90px; padding-top: 5px;" alt="ภาพ" />
                    </div>
                  </div>
                  <div class="col-5 mx-auto mb-4 py-3">
                    <a (click)="printPage()" target="_blank">
                      <button
                        style="color: white; text-align: center; background: rgb(77, 104, 255); border: none; border-radius: 10px; padding: 10px;">
                        พิมพ์รายงาน
                      </button>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>
